<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lotereya</title>
</head>
<body>
    <h1 align="center">13. Lotereya</h1>
    {% for son in lotereya_sonlari %}
    <h3 align="center">{{ son }}</h3>
    {% endfor %}
    <a href="index_1.html">1-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_2.html">2-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_3.html">3-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_4.html">4-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_5.html">5-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_6.html">6-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_7.html">7-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_8.html">8-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_9.html">9-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_10.html">10-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_11.html">11-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_12.html">12-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_14.html">14-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_15.html">15-vazifa</a>&nbsp;&nbsp;&nbsp;
</body>
</html>