<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ishchilar maoshlari</title>
</head>
<body>
    <h1 align="center">12. Ishchilar maoshlari</h1>
    <p align="center">
    {% for ishchi in ishchilar %}
    {% for key, value in ishchi.items %}
    {% if key == 'ism' %}
    <font>{{ value }} - </font>
    {% elif key == 'maosh' %}
    <font>{{ value }}</font><br><br>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </p>
    <p align="center"><font face="algerian">{{ katta_maosh }}</font></p>
    <a href="index_1.html">1-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_2.html">2-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_3.html">3-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_4.html">4-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_5.html">5-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_6.html">6-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_7.html">7-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_8.html">8-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_9.html">9-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_10.html">10-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_11.html">11-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_13.html">13-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_14.html">14-vazifa</a>&nbsp;&nbsp;&nbsp;
    <a href="index_15.html">15-vazifa</a>&nbsp;&nbsp;&nbsp;
</body>
</html>