{% extends 'base.html' %}

{% block content %}

  <br>

<div class="card mb-3">
  {% if mashina.rasm %}
  <img src="{{ mashina.rasm.url }}" class="card-img-top" alt="Wild Landscape"/>
  {% else %}
  <img src="https://static.vecteezy.com/system/resources/previews/008/296/130/non_2x/sports-car-line-icon-isolated-on-white-background-free-vector.jpg" class="card-img-top" alt="Wild Landscape"/>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title" align="center">{{ mashina.nomi }}</h5>
    <p class="card-text"><b>Ot kuchi: </b>{{ mashina.ot_kuchi }}</p>
    <p class="card-text"><b>Mator hajmi: </b>{{ mashina.mator_hajmi }}</p>
    <p class="card-text"><b>Rangi: </b>{{ mashina.rang }}</p>
    <p class="card-text"><b>Narxi: </b>{{ mashina.narx }} $</p>
  </div>
</div>

  <br>

{% if request.user.is_authenticated %}
<div class="card">
    <form method="post" action="{% url 'comment_saqlash' mashina.pk %}">
        {% csrf_token %}

        {{ form.as_p }}

      <button type="submit">Saqlash</button>
    </form>
</div>
{% endif %}
{% for comment in commentlar %}

<div class="card" style="margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-left: 15px; padding-right: 15px;">
    <font color="green"><b>{{ comment.foydalanuvchi.username }}</b></font>
    <p><font face="Verdana">{{ comment.matni }}</font></p>
    <p><i>{{ comment.yaratilgan_vaqt | date:"d.m.Y" }}</i></p>
</div>

{% endfor %}

{% endblock content %}