input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: yellow;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: gold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    background: orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
